//Style Fixes only for angular
.pg-select{
    outline: 0;
     & > *:focus{
        outline: 0;
    }
}

.form-group-default-selectFx{
    .cs-backdrop{
        border: 0;
    }
}

.form-control.cs-select:not(.cs-active){
    margin-top: 0;
}