$base-theme:Bootstrap;
$skin-name:cssp;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #5f99c7;
$secondary: #E5E5E5;
$info: #07c25f;
$success: #5f99c7;
$warning: #f7cf5f;
$error: #d9534f;
$body-bg: #ffffff;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #f7f7f9;
$card-cap-color: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;

$custom-select-padding-x: 0;
$custom-select-padding-y: 0;

$font-size: 14px;
